Source: nx-notifications-applet
Section: KDE
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9), cmake, extra-cmake-modules, libkf5i18n-dev, plasma-framework-dev, qtbase5-dev, qtdeclarative5-dev, libkf5windowsystem-dev, kio-dev
Standards-Version: 3.9.6

Package: nx-notifications-applet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, plasma-workspace
Description: Notifications manager for Nitrux
 NX Notifications is the notification manager 
 used in NX Desktop on Nitrux.
